
@{
    ViewData["Title"] = "Index";
}

@*..1...*@
<h1>1</h1>
<div class="row">
    <div class="col-2" style="height:100px;background-color:seagreen">1</div>
    <div class="col-8" style="height:100px;background-color:red">2</div>
    <div class="col-2" style="height:100px;background-color:seagreen">3</div>
</div>
<div class="row">
    <div class="col-2" style="height:100px;background-color:blue">4</div>
    <div class="col-8" style="height:100px;background-color:red">2</div>
    <div class="col-2" style="height:100px;background-color:black">5</div>
</div>
<div class="row">
    <div class="col-2" style="height:100px;background-color:blue">4</div>
    <div class="col-8" style="height:100px;background-color:red">2</div>
    <div class="col-2" style="height:100px;background-color:black">5</div>
</div>

@*..2...*@
<h1>2</h1>
<div class="row">
    <div class="col-6" style="height:100px;background-color:seagreen">1</div>
    <div class="col-2" style="height:100px;background-color:red">2</div>
    <div class="col-4" style="height:100px;background-color:blue">5</div>
</div>
<div class="row">
    <div class="col-6" style="height:100px;background-color:seagreen">1</div>
    <div class="col-2" style="height:100px;background-color:pink">3</div>
    <div class="col-4" style="height:100px;background-color:blue">5</div>
</div>
<div class="row">
    <div class="col-6" style="height:100px;background-color:seagreen">1</div>
    <div class="col-2" style="height:100px;background-color:yellow">4</div>
    <div class="col-4" style="height:100px;background-color:orange">6</div>
</div>

@*..3...*@
<h1>3</h1>
<div class="row">
    <div class="col-4" style="height:100px;background-color:seagreen">a</div>
    <div class="col-4" style="height:100px;background-color:red">b</div>
    <div class="col-4" style="height:100px;background-color:blue">c</div>
</div>
<div class="row">
    <div class="col-4" style="height:100px;background-color:pink">d</div>
    <div class="col-4" style="height:100px;background-color:red">b</div>
    <div class="col-4" style="height:100px;background-color:orange">e</div>
</div>
<div class="row">
    <div class="col-8" style="height:100px;background-color:greenyellow">f</div>
    <div class="col-4" style="height:100px;background-color:orange">e</div>
</div>

@*..4...*@
<h1>4</h1>
<div class="row">
    <div class="col-6" style="height:100px;background-color:seagreen">image</div>
    <div class="col-3" style="height:100px;background-color:red">1</div>
    <div class="col-3" style="height:100px;background-color:blue">2</div>
</div>
<div class="row">
    <div class="col-6" style="height:100px;background-color:seagreen">image</div>
    <div class="col-3" style="height:100px;background-color:pink">3</div>
    <div class="col-3" style="height:100px;background-color:orange">4</div>
</div>


